#container{
    width: 80%;
    margin: 0 auto;
}
img{
    width: 30%;
    margin: 1.4%;
}
#titulo{
    margin-left: 11%;
    font-size: 40px;
    font-family: 'montserrat', sans-serif;
    text-transform: uppercase;
    border-bottom: red 2px solid;
    width: 18%;
    padding-bottom: 10px;
}
li{
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
}
p{
    font-family: 'montserrat', sans-serif;
    font-size: 30px;


}
.cont{
    margin-left: 11%;
}